<template>
    <div class="hero">
        <div class="circular-container">
            <div class="text left">
                <p class="pre-heading">A little bit</p>
                <h1 class="heading">About MOIR'S</h1>
                <p class="description">MOIRS'S tried and trusted range includes baking powder, essences, food colorants, glacé cherries, glacé fruit and fruit mixes, citrus peel, desiccated coconut, bicarbonate of soda and ready to bake cake mixes.</p>
                <ctaButton :url="'#'" :text="'Moir\'s History'" :linkColor="'#fff'" class="desktop"></ctaButton>
            </div>
          <div class="image right">
              <img class="mobile" src="../assets/main-image-sm.png" alt="Moir's instant pudding in a box.">
              <img class="desktop" src="../assets/main-image-lg.png" alt="Moir's instant pudding in a box.">
          </div>
          
        </div>
        <ctaButton :url="'#'" :text="'Explore'" :linkColor="'#fff'" class="mobile"></ctaButton>
    </div>
</template>

<script>
import ctaButton from './ctaButton';

export default {
  name: 'AppHero',
  components: {
      ctaButton
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .hero {
        background: #ebc8c5;
        background: -moz-linear-gradient(45deg, #ebc8c5 0%, #f0948d 100%);
        background: -webkit-linear-gradient(45deg, #ebc8c5 0%,#f0948d 100%);
        background: linear-gradient(45deg, #ebc8c5 0%,#f0948d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebc8c5', endColorstr='#f0948d',GradientType=1 );
        padding-top: 80px;
        color: #fff;
    
        overflow: hidden;

        min-height: calc(100vh - 80px);
    }
    .circular-container {
        position: relative;
        left: -10%;

        border-radius: 50%;

        width: 100%;
        min-width: 345px;
        max-width: 1028px;
        height: 0;
        padding-top: 100%;

        margin-top: 10vh;

        background: #efc9c5;
        background: -moz-linear-gradient(45deg, #efc9c5 0%, #eaada7 100%);
        background: -webkit-linear-gradient(45deg, #efc9c5 0%,#eaada7 100%);
        background: linear-gradient(45deg, #efc9c5 0%,#eaada7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc9c5', endColorstr='#eaada7',GradientType=1 );

        box-shadow: 0px 61px 181px 0px rgba(0, 0, 0, 0.15); 
        
    }
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    .circular-container .text {
        position: absolute;
        top: 55px;
        left: 55px;
        width: 55%;
    }
    .circular-container .image {
        position: absolute;
        top: -70px;
        right: -160px;
        width: 80%;
    }
    .circular-container .image img {
        width: 100%;
    }
    .pre-heading {
        text-transform: uppercase;
        font-size: .8rem;
        line-height: 2;
    }
    .heading {
        font-size: 2.5rem;
    }
    .description {
        font-size: .8rem;
        line-height: 1.25;
    }

    @media (min-width: 340px) {
        .circular-container .text {
            left: 18vw;
            top: 14vw;
        }
        .pre-heading {
            font-size: 4vw;
        }
        .heading {
            font-size: 10vw;
        }
        .description {
            font-size: 3.5vw;
        }
        .circular-container .image {
            top: -15vw;
            right: -42vw;
            width: auto;
        }
        .circular-container .image img {
            width: 75vw;
        }
    }

    @media (min-width: 600px) {
        .mobile {
            display: none;
        }
        .desktop {
            display: block;
        }
        .circular-container .text {
            left: 7rem;
            top: 6rem;
        }
        .circular-container {
            max-width: 600px;
            height: 600px;
            padding-top: 0;
            margin: 0 auto;
        }
        .circular-container .image {
            top: -140px;
            right: unset;
            left: 340px;
        }
        .circular-container .image img {
            width: 900px;
        }
        .pre-heading {
            font-size: 1.4rem;
        }
        .heading {
            font-size: 5rem;
            text-indent: -20px;
            margin-left: -1rem;
            letter-spacing: 3px;
        }
        .description {
            font-size: 1.1rem;
        }
    } 


</style>
