<template>
  <header>
    <h1 class="site-branding">
      Moir's
    </h1>
    <nav>
      <navLink :url="'#'" :icon="'fas fa-search'" :linkColor="'#fff'"></navLink>
      <navLink :url="'#'" :text="'Menu'" :linkColor="'#fff'"></navLink>
    </nav>
  </header>
</template>

<script>
import NavLink from './NavLink';

export default {
  name: 'AppHeader',
  data () {
    return {
      key: 'value'
    }
  },
  components: {
    NavLink
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  header {
    width: 90%;
    margin: 0 auto;
    
    display: flex;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
  }
  nav {
    flex-grow: 1;
    
    
    text-align: right;
    margin-top: 30px;

  }
  .site-branding {
    flex-basis: 83px;

    background-image: url('../assets/logo.png');
    background-size: 83px 63px;
    background-repeat: no-repeat;

    width: 83px;
    height: 63px;

    text-indent: -9999px;
  }

  @media (min-width: 600px) {
      header {
        width: 96%;
      }
  }
</style>
