<template>
  <a :href="'url'" :style="{ color: linkColor }"><i v-if="icon" :class="icon"></i>{{ text }}</a>
</template>

<script>
export default {
  name: 'ctaButton',
  props: ['url', 'text', 'linkColor', 'icon']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.8rem;
    letter-spacing: .15rem;

    border-radius: 25px;
    border: 2px solid #fff;

    padding: 15px 20px 10px;
    
    max-width: 50%;

    display: block;
    text-align: center;

    margin: 50px auto;
  }

  a.desktop {
      margin-left: -50px;
      margin-right: 0;
  }
</style>
