<template>
    <div>
        <p><slot name="pre-heading">Pre header</slot></p>
        <h2><slot name="heading">Title</slot></h2>
    </div>
</template>

<script>
export default {
  name: 'h2Group',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    div {
        margin-bottom: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }
    p {
        text-transform: uppercase;
    }
    h2 {
        margin-top: 10px;
        font-size: 2.4rem;
    }
    @media (min-width: 600px) {
        h2 {
            font-size: 3.5rem;
        }
    }
</style>
