<template>
  <a :href="'url'" :style="{ color: linkColor }"><i v-if="icon" :class="icon"></i>{{ text }}</a>
</template>

<script>
export default {
  name: 'NavLink',
  props: ['url', 'text', 'linkColor', 'icon']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  a {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.8rem;

    text-decoration: none;
    
    margin-left: 10px;
  }
</style>
