<template>
    <div class="container">
        <nav class="desktop">
            <NavLink :url="'#'" :text="'Moir\'s'"></NavLink> •
            <NavLink :url="'#'" :text="'About Us'"></NavLink> •
            <NavLink :url="'#'" :text="'History'" class="active"></NavLink>
        </nav>
        <div class="column left desktop">
            <img src="../assets/old-label.png" alt="An old Moir's Jelly label.">
        </div>
        <div class="column right">
            <h2Group>
                <template slot="pre-heading">MOIR'S</template>
                <template slot="heading">History</template>
            </h2Group>
            <Paragraph>
                MOIR'S rich history of delicious desserts and bakes started back in the nineteenth century when Scotsman John Moir founded a business making fruit-flavoured jellies that proved immensely popular. 
            </Paragraph>
            <Paragraph>
                The first MOIR'S jelly to be produced in South Africa came from a factory in Woodstock just after the First World War. Instantly recognised for its fine quality, it inspired the introduction of other products. By 1950, MOIR'S had expanded so much that the company had to move to Ndabeni.
            </Paragraph>
            <img src="../assets/kneading-bread.png" alt="A woman kneeding bread in a bowl." class="mobile">
            <Paragraph>
                Today, MOIR'S is part of Pioneer Foods, the second biggest food group in the country, and is the leading brand when it comes to jellies, custards, and instant puddings - indeed a delectable tradition!
            </Paragraph>
        </div>
    </div>
</template>

<script>

import h2Group from './h2Group';
import Paragraph from './Paragraph';
import NavLink from './NavLink';

export default {
  name: 'PageContent',
  components: {
      h2Group,
      Paragraph,
      NavLink
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .container {
      width: 90%;
      margin: 50px auto;
      max-width: 960px;
      margin-top: 10px;
  }
  img {
      min-width: 100%;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .column {
      margin-top: 50px;
  }

  nav {
      padding: 30px 0 0;
      text-align: center;
  }

  nav a {
      margin-left: 10px;
      margin-right: 10px;
      letter-spacing: 3px;
      font-size: .8rem;
  }

  nav a.active {
      color: #d72d2d;
  }

  @media (min-width: 600px) {
    .column {
        padding-left: 5vw;
        padding-right: 5vw;
        box-sizing: border-box;
        margin-top: 0;
    }

    .column.left {
        width: 45%;
        float: left;
        margin-top: 50px;
        padding-right: 3vw;
    }
    .column.right {
        width: 55%;
        float: left;
        margin-top: 50px;
        padding-left: 3vw;
    }
  }
</style>
