<template>
    <p>
        <slot>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quia autem similique repellat, a quibusdam labore dignissimos molestias officia distinctio numquam fugit dolor delectus totam temporibus illo ratione maiores dolores!</slot>
    </p>
</template>

<script>
export default {
  name: 'Paragraph',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    p {
        padding-left: 25px;
        padding-right: 25px;

        margin-top: 20px;
        margin-bottom: 20px;

        font-size: .8rem;
        line-height: 1.4;
    }
    @media (min-width: 600px) {
        p {
            line-height: 2;
        }
    }
</style>
